FartingTrain/[Ll]ibrary/
FartingTrain/[Tt]emp/
FartingTrain/[Oo]bj/
FartingTrain/[Bb]uild/
FartingTrain/[Bb]uilds/
FartingTrain/[Ll]ogs/
FartingTrain/UserSettings/
FartingTrain/MemoryCaptures/
FartingTrain/Recordings/

FartingTrain/*.csproj
FartingTrain/*.unityproj
FartingTrain/*.sln
FartingTrain/*.suo
FartingTrain/*.tmp
FartingTrain/*.user
FartingTrain/*.userprefs
FartingTrain/*.pidb
FartingTrain/*.booproj
FartingTrain/*.svd
FartingTrain/*.pdb
FartingTrain/*.mdb
FartingTrain/*.opendb
FartingTrain/*.VC.db

FartingTrain/.vs/
FartingTrain/.idea/

FartingTrain/ExportedObj/